# Devices

{%- for device in netbox_devices.results %}
{%- if device.primary_ip and device.primary_ip.address %}

# Netbox URL: {{ device.url }}
Host {{ device.name}}
    User {{ ssh_user }}
    Hostname {{ device.primary_ip.address.split("/")[0] }}
    Port {{ ssh_port }}
    IdentityFile {{ ssh_key }}

{%- endif %}
{%- endfor %}

# Virtual Machines
{%- for vm in netbox_vms.results %}
{%- if vm.primary_ip and vm.primary_ip.address %}

# Netbox URL: {{ vm.url }}
Host {{ vm.name}}
    User {{ ssh_user }}
    Hostname {{ vm.primary_ip.address.split("/")[0] }}
    Port {{ ssh_port }}
    IdentityFile {{ ssh_key }}

{%- endif %}
{%- endfor %}
